version: '3'

services:
  simulation:
    container_name: AutonomousVehicleControlBeginnersGuide
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/home/dev-user/workspace
    tty: true
    network_mode: "host"